<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Index</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>
<style>
  .card {
    min-height: 100px;
    width: 250px;
  }

  .cart-icon {
    margin-right: 1200px;
  }

  .form-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .show {
    display: block;
  }
</style>

<body>
  <br />
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
        <ul class="navbar-nav me-auto mb-3 mb-lg-0">
          <h5>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
          </h5>
          <h5>
            <li class="nav-item">
              <a class="nav-link" href="add_book/">Add Book </a>
            </li>
          </h5>
          <h5>
            <li class="nav-item">
              <a class="nav-link" href="register">Register</a>
            </li>
          </h5>
          <h5>
            <li class="nav-item">
              <a class="nav-link" href="login">Login </a>
            </li>
          </h5>
          <h5>
            <li class="nav-item">
              <a class="nav-link" href="latestbook">Latest Book</a>
            </li>
          </h5>
          <h5>
            <li class="nav-item">
              <a class="nav-link" href="admin">Admin</a>
            </li>
          </h5>
          <a class="nav-link" href="cart">
            <i class="bi bi-cart cart-icon"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
            </svg></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
  <div class="container">
    <h1 class="header" style="text-align: center">Book</h1>
    <br />
    <div class="row row-cols-1 row-cols-md-3">
      {% for x in bookdata %}
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ x.title }}</h5>
            <p class="card-text">{{ x.publish_date }}</p>
            <a href="details/{{ x.id }}" class="btn btn-info">More</a>
            <button class="btn btn-outline-secondary get-book-btn">
              Get book
            </button>
            <div id="toggler" class="form-content">
              <div class="container">
                <h6 class="header" style="text-align: center">Add Date</h6>
                <br />
                {% if messages %} {% for message in messages %}
                <div class="alert alert-info">{{message}}</div>
                {% endfor %} {% endif %}
                <form method="POST" action="{% url 'add_to_cart' x.id  %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="return_date">Return date</label>
                    <input type="date" name="return_date" class="form-control" />
                  </div>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </form>
              </div>
            </div>
            <br /><br />
          </div>
        </div>
        <br /><br /><br /><br /><br />
      </div>
      {% endfor %}
    </div>
  </div>
  <script>
    const getBookBtns = document.querySelectorAll(".get-book-btn");
    getBookBtns.forEach((btn) => {
      btn.addEventListener("click", function () {
        const toggler = btn.nextElementSibling;
        if (toggler.style.display === "block") {
          toggler.style.display = "none";
        } else {
          toggler.style.display = "block";
        }
      });
    });
  </script>
</body>

</html>